<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
  <div class="d-block mb-4 mb-md-0">
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
      <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
        <li class="breadcrumb-item"><a href="#"><span class="fas fa-home"></span></a></li>
        <li class="breadcrumb-item"><a href="#">Rocket</a></li>
        <li class="breadcrumb-item active" aria-current="page">Users List</li>
      </ol>
    </nav>
    <h2 class="h4">Users List</h2>
    <p class="mb-0">Your web analytics dashboard template.</p>
  </div>
  <div class="btn-toolbar mb-2 mb-md-0"><a href="#" class="btn btn-sm btn-primary"><span class="fas fa-plus"></span>
      <span>Add New User</span></a>
    <div class="btn-group ml-3"><button type="button" class="btn btn-sm btn-outline-secondary">Share</button> <button
        type="button" class="btn btn-sm btn-outline-secondary">Export</button></div>
  </div>
</div>
